.total-count span{
	color: #1b2a37;
}
.total-count p{
	  font-weight: 700;
	  color: #2e5aac ;
	}
 #tableReport th{
	font-weight: 700;
	  color: #2e5aac;
	}
	
h2.portlet-title-text {
display:none !important;
}